body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Calibri';
    font-size: 1.2em;
}

#flex {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 30px;
}

input {
    padding: 7px;
    margin: 20px;
}

input:focus {
    background-color: #B2DEED;
}

#submit {
    background-color: #0000FF;
    font-size: 0.8em;
}

#country {
    background-color: #EFF7FF;
}

li {
    padding: 10px 100px;
    color: white;
    background-color: #0000FF;
}

.ndiv {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #14a098;
    color: white;
    margin: 25px 0;
    padding: 0 30px;
    width: 500px;
}

.ndiv span {
    margin: 20px;
}

/* For responsive design */

@media (max-width: 550px) {
    #inputHeader {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    input {
        width: 100%;
    }
    .ndiv {
        width: 300px;
    }
}